@import './CardsMixin.scss';

.goods_list {
    &__item {
        width: 420px;
        height: 500px;
        text-align: center;
        margin-bottom: 34px;
        position: relative;

        &:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.14);
            z-index: 3;

            > .goods_list__order {
                visibility: visible;
                opacity: 1;
                box-shadow: 0 0 10px rgba(0,0,0,0.14);
            }

            .goods_list__item_remove {
                display: block;
            }
        }

        img {
            width: inherit;
        }

        &_price {
            position: absolute;
            top: 12px;
            left: 20px;
            color: #9a9a9a;
            font-size: 21px;

            &:before {
                content: '£';
                font-size: 10px;
                position: absolute;
                top: 2px;
                left: -7px;
            }
        }

        &_remove {
            position: absolute;
            top: 12px;
            right: 20px;
            cursor: pointer;
            display: none;
        }

        @include cardItemSizes;
    }

    &__order {
        visibility: hidden;
        opacity: 0;
        border-top: 1px solid #eee;
        padding: 19px 24px 23px 24px;
        background: #fff;
        transition: visibility 0s, opacity 0.5s linear;

        &:after {
            clear: both;
        }
    }

    &__item_title {
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: -0.1px;
        margin-bottom: 15px;
    }

    &__item_description {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color:#8e8c8c;
        line-height: 21px;
        margin-bottom: 19px;
    }

    &__item_count {
        font-family: Arial;
        font-style: italic;
        color: #989898;
        border: 1px solid #929292;
        float: left;
        width: 55px;
        height: 39px;
        padding: 0 5px;
    }

    &__item_button {
        float: right;
        border: 1px solid #929292;
        color: #989898;
        background: #fff;
        width: 169px;
        height: 39px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        cursor: pointer;

        &:hover {
            background: #333;
            color: #fff;
            position: relative;
            left: 4px;
            bottom: 2px;
            width: 177px;
            height: 43px;
        }
    }

    @media screen and (max-width: 669px) {
        justify-content: space-around;
    }
}

.clear {
    clear: both;
}