<!DOCTYPE html>
<html>
    <head>
        <title>Lab 2</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h1>Лабораторная работа 2</h1>
        </header>
        <div class="content-wrapper">
            <nav>
                <ul>
                    <li><a href="/">Главная</a></li>
                    if isAuthenticated
                        <li><a href="/add">Добавить запись</a></li>
                        <li><a href="/logout">Выйти</a></li>
                    if !isAuthenticated
                        <li><a href="/login">Войти</a></li>
                        <li><a href="/registration">Регистрация</a></li>
                </ul>
            </nav>
            <main>
                <section id="blog">
                    each article in articles
                        <article class="article">
                            <header class="article__header">#{article.title}</header>
                            <main class="article__main">
                                <div class="article__main-text">#{article.preview}</div>
                                a(class="button button--show-more" href='/article/?id=' + article._id) Подробнее
                            </main>
                        </article>
                </section>
            </main>
        </div>
        <footer>Вергейчик Александр Петрович</footer>
    </body>
</html>