<!DOCTYPE html>
<html>
    <head>
        <title>Lab 2</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h1>Лабораторная работа 2</h1>
        </header>
        <div class="content-wrapper">
            <nav>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/registration">Регистрация</a></li>
                </ul>
            </nav>
            <main>
                <form class="form" action="login" method="POST">
                    <div class="form__item">
                        <label>Логин</label>
                        <input class="form__field" type="text" name="username" required>
                    </div>
                    <div class="form__item">
                        <label>Пароль</label>
                        <input class="form__field" type="password" name="password" required>
                    </div>
                    <input class="button" type="submit" value="Войти"> <input class="button" type="reset" value="Очистить">
                </form>
            </main>
        </div>
        <footer>Вергейчик Александр Петрович</footer>
    </body>
</html>